<div class="first-step-container is-flex is-justify-content-center is-align-items-center">
  <div class="wrapper has-background-gray is-flex is-justify-content-center is-align-items-center is-flex-direction-column">
    <div>
      <h2 class="mb-1 is-size-4 has-text-weight-bold">Select days you’re free</h2>
      <small class="has-text-grey">Teachable recruiting team has turned off some days that don't work for the interviewers</small>
    </div>
    <%= form_with(url: confirm_first_step_path(code: @code), model: @invite, method: :post, class: 'is-flex is-flex-direction-column') do |form| %>
      <div>
        <%= form.text_field :possible_dates, class: "gui-input", id: "date_range" %>
      </div>
      <%= form.submit "Next", class: 'button is-link' %>
    <% end %>
  </div>
</div>
