<div class="first-step-container is-flex is-justify-content-center is-align-items-center">
  <div class="wrapper is-flex is-justify-content-center is-align-items-center is-flex-direction-column">
    <div class="mb-5">
      <h2 class="mb-1 is-size-3 has-text-weight-bold">Select days you’re free</h2>
      <small class="has-text-grey is-size-6">Teachable recruiting team has turned off some days that don't work for the interviewers</small>
    </div>
    <%= form_with(url: confirm_first_step_path(code: @code), model: @invite, method: :post, class: 'is-flex is-flex-direction-column') do |form| %>
      <div>
        <%= form.text_field :possible_confirmed_dates, class: "gui-input", id: "date_range", "data-possible-dates": @invite.possible_dates %>
      </div>
      <%= form.submit "Next", class: 'button is-primary' %>
    <% end %>
  </div>
</div>
