<div class="flash-container">
  <% if flash[:notice].present? %>
    <div class="notification is-success">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:alert].present? %>
    <div class="notification is-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>
