<div class="card-banner has-background-link is-flex is-flex-direction-column is-justify-content-space-between">
  <p class="is-size-1 mt-2 has-text-weight-bold has-text-white">ScheduMe</p>
  <p class="has-text-white px-6">Automated interview scheduling for happier teams</p>
  <small class="has-text-white mb-4"><span class="link">Learn more</span> · <span class="link">Request a demo</span></small>
</div>
