<div class="home-container is-flex">
  <section class="half-screen is-flex is-align-items-center is-justify-content-flex-end">
    <div class="banner has-background-info-light"></div>
    <%= render "home/card" %>
  </section>
  <section class="half-screen">
    <%= render "home/form" %>
  </section>
</div>
