<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congrats, <%= @guest.name %></h1>
    <p>
      You are selected to participate in our interview process!
    </p>
    <p>
      To help us schedule your next interview(s), please let us know when you're available by selecting the online calendar link below.
    </p>
    <p>
      We'll coordinate with our team and confirm a time with you.
    </p>
    <b>Please submit availability here: http://localhost:3000/confirmation/<%= @code %></b>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
