.first-step-container {
    height: 100%;
    width: 100%;
    background-image: image-url("fs-1.svg");
    background-size: cover;

    .wrapper {
        width: 100%;
        height: 100%;
        width: 400px; // this is related with .flatpickr-input.width defined in this file
        gap: 24px;

        form {
            gap: 16px;
            transform: scale(1.2);
    
            .flatpickr-input {
                display: none;
            }
    
            .flatpickr-calendar {
                width: 340px !important;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .flatpickr-months, .flatpickr-prev-month, .flatpickr-next-month {
                    margin-top: 8px;
                    margin-bottom: 8px;
                }
    
                .flatpickr-months {
                    width: 100%;
                }
            }
        }

    }


}
